---
offline_token: xxxxxxxxx
requires_satellite: True
satellite_user: admin
satellite_password: changeme
satellite_server: https://satellite.example.com
satellite_validate_certs: True
satellite_organization: Default Organization
satellite_repository: AAP Installer
satellite_product: AAP
satellite_content_view_name: AAP Installer